.container-articles {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background: linear-gradient(
      rgba(213, 184, 149, 0.8),
      rgba(213, 184, 149, 0.8)
    ),
    url("../../assets/Background/LIVROS.png");
  background-size: cover;
  background-position: center;
  padding: 2rem;
  box-sizing: border-box;
}

.container-articles h1 {
  font-size: 3rem;
  text-align: center;
  margin: 2.5rem;
}

.subtitles {
  text-align: center;
  margin: 2rem;
}

.subtitles h3 {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.subtitles h4 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 20px;
}

.articles {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
}

.articles-items {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.articles-items a {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.articles-items a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.articles-items-text h2 {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
}

.articles-items img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

/* Responsividade */
@media (max-width: 1025px) {
  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }

  .articles-items {
    width: 60%;
  }

  .container-articles h1 {
    font-size: 2.5rem;
  }

  .subtitles h3 {
    font-size: 2rem;
  }

  .subtitles h4 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
    padding: 2rem;
  }

  .articles-items {
    width: 80%;
  }

  .container-articles h1 {
    font-size: 2rem;
  }

  .subtitles h3 {
    font-size: 1.8rem;
  }

  .subtitles h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .articles-items {
    width: 100%;
    margin: 1rem 0;
  }

  .container-articles h1 {
    font-size: 1.8rem;
  }

  .subtitles h3 {
    font-size: 1.5rem;
  }

  .subtitles h4 {
    font-size: 1rem;
  }

  .articles-items-text h2 {
    font-size: 1rem;
  }

  .articles-items img {
    max-width: 60%;
  }
}
