.container_ebooks {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  box-sizing: border-box;
  position: relative;
}
.container_ebooks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: url("../../assets/Forms/forma_bege1.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: top center;
}

.container_ebooks h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 6rem;
  color: var(--tertiary-color);
}

.subtitles {
  text-align: center;
  margin: 2rem;
}

.subtitles h3 {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.subtitles h4 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 20px;
}

.articles {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
}

.ebooks_items {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.ebooks_items a {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ebooks_items a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.ebooks_items_text h2 {
  text-decoration: none;
  color: var(--tertiary-color);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
}

.ebooks_items img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

/* Responsividade */
@media (max-width: 1025px) {
  .ebooks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }

  .ebooks_items {
    width: 60%;
  }

  .container_ebooks h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .ebooks_items {
    flex-direction: column;
    padding: 2rem;
  }

  .ebooks-items {
    width: 80%;
  }

  .container_ebooks h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .ebooks_items {
    width: 100%;
    margin: 1rem 0;
  }

  .container_ebooks h1 {
    font-size: 1.8rem;
  }

  .ebooks_items_text h2 {
    font-size: 1rem;
  }

  .ebooks_items img {
    max-width: 60%;
  }
}
