.container_services {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 20px 10px;
  box-sizing: border-box;
}

.title_services {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.list_services {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 3rem;
  flex-wrap: wrap; /* Permite quebra no mobile */
}

.images_service {
  flex: 1 1 300px; /* Cresce ou encolhe, começa com 350px */
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.images_service img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text_service {
  flex: 2 1 200px; /* Texto ocupa mais espaço */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.text_service h3 {
  font-size: 1.9rem;
  font-weight: 200;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
  width: fit-content;
}

.text_service p {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
.btn_more {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  border: none;
}
.btn_more a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.btn_more:hover {
  background-color: var(--tertiary-color);
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* ---------------- RESPONSIVO ---------------- */

@media screen and (max-width: 1024px) {
  .list_services {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .images_service,
  .text_service {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text_service h3 {
    font-size: 1.7rem;
  }

  .text_service p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .title_services {
    font-size: 2rem;
  }

  .text_service h3 {
    font-size: 1, 2rem;
    text-align: center;
  }

  .text_service p {
    font-size: 0.95rem;
    text-align: center;
    width: 100%;
  }
}
