.container-navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  color: white;
  padding: 0 50px;
  z-index: 10;
}

.logo-img img {
  width: 200px;
  cursor: pointer;
}

.nav-links span {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
  color: var(--tertiary-color);
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links span:hover {
  color: #9d1f35;
}

/* Esconde o menu hamburguer (Drawer) em telas grandes */
@media (min-width: 1025px) {
  .dropdown_menu {
    display: none;
  }
}

/* Tablet e telas menores */
@media screen and (max-width: 1024px) {
  .container-navbar {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 10%,
      rgba(0, 0, 0, 0.7) 52%,
      rgba(0, 0, 0, 0.6) 92%
    );
    padding: 0 20px;
    height: 150px;
    z-index: 100;
  }

  .logo-img img {
    width: 180px;
    margin-left: 10%;
  }

  .nav-links {
    display: none; /* Some os links normais */
  }

  .dropdown_menu {
    position: relative;
    right: -30%;
  }
}

/* Tablet em modo retrato */
@media screen and (max-width: 800px) {
  .container-navbar {
    padding: 0 15px;
  }

  .logo-img img {
    width: 170px;
  }

  .dropdown_menu {
    right: -24%;
  }
}

/* Smartphones grandes */
@media (max-width: 600px) {
  .dropdown_menu {
    right: -22%;
  }
}

/* Smartphones pequenos */
@media (max-width: 480px) {
  .dropdown_menu {
    right: -18%;
  }
}

@media (max-width: 390px) {
  .dropdown_menu {
    right: -14%;
  }
}
