.container-navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  color: white;
  padding: 0 50px;
  z-index: 10;
  background-color: var(--primary-color);
}

.logo-img img {
  height: 200px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
}

.nav-links span {
  color: var(--tertiary-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-links span:hover {
  color: #9d1f35;
  transform: scale(1.05);
}

/* Ícone do menu (aparece só no mobile) */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: var(--tertiary-color);
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  .container-navbar {
    position: relative;
  }
  .nav-links {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100vh);
    background-color: var(--blue-color-primary);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 11;
  }

  .nav-links span {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .menu-icon {
    display: block;
    z-index: 12;
  }
}
