.container_content {
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(rgba(34, 52, 80, 0.8), rgba(34, 52, 80, 0.8)),
    url("../../../../assets/Ebooks/ebook_2/Backgrounds/Processos.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  position: relative;
}
.container_content::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 20%;
  height: 50%;
  background-image: url("../../../../assets/Ebooks/ebook_2/Forms/formas_bege2.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: bottom left;
  z-index: 1;
  overflow: hidden;
}
.container_content::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0px;
  width: 20%;
  height: 50%;
  background-image: url("../../../../assets/Ebooks/ebook_2/Forms/formas_bege.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top right;
  overflow: hidden;
  z-index: 1;
}

.container_content h1 {
  font-size: 2.5rem;
  color: var(--tertiary-color);
  margin: 40px 0;
  font-weight: 500;
  text-align: center;
}

.list_content {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1200px;
  justify-items: center; /* centraliza os itens individualmente */
}

.list_content li:nth-last-child(2) {
  grid-column: 2; /* começa na 2ª coluna */
}

.list_content li:last-child {
  grid-column: 3; /* fica na 3ª coluna */
}

.list_content li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  width: 170px;
  height: 180px;
  padding: 20px;
  border-radius: 1rem;
  color: var(--tertiary-color);
  margin: 0 auto;
  background-color: var(--blue-color-secondary);
  line-height: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.list_content li:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--blue-color-primary); /* opcional: escurece o fundo */
}

/* ----------- Tablets ----------- */
@media (max-width: 1024px) {
  .container_content h1 {
    font-size: 2.2rem;
  }

  .list_content {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
  }
}
@media (max-width: 900px) {
  .container_content::before,
  .container_content::after {
    display: none;
  }
}

/* ----------- Smartphones ----------- */
@media (max-width: 600px) {
  .container_content h1 {
    font-size: 1.8rem;
    margin: 30px 0;
  }
  .container_content::before,
  .container_content::after {
    display: none;
  }

  .list_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 4rem;
  }

  .list_content li {
    width: 90%;
    max-width: 300px;
    font-size: 1rem;
    height: auto;
    padding: 20px;
  }
}
