.footer {
  width: 100%;
  overflow: hidden;
}
.footer-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-color-primary);
}
.footer-container p {
  color: var(--tertiary-color);
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.footer-container img {
  width: 10%;
}
.social-medias {
  display: flex;
  justify-content: space-around;
  color: var(--tertiary-color);
}
.social-medias span {
  font-size: 1.8rem;
  margin: 0 2px;
}
